server:
  port: 8090
spring:
  datasource:
    type: com.zaxxer.hikari.HikariDataSource
    url: jdbc:mysql://localhost:3306/medicare?serverTimezone=UTC
    username: admin
    password: admin
    connection-test-query: SELECT 1 FROM DUAL
    minimum-idle: 1
    maximum-pool-size: 5
    pool-name: yourPoolName
    auto-commit: true
    driver-class-name: com.mysql.cj.jdbc.Driver
    hikari:
      idle-timeout: 10000
      connection-test-query: SELECT 1 FROM DUAL
      minimum-idle: 1
      maximum-pool-size: 5
      pool-name: yourPoolName
      auto-commit: false
  jpa:
    generate-ddl: true
    hibernate:
      ddl-auto: create
      dialect: org.hibernate.dialect.MySQL5InnoDBDialect
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL5InnoDBDialect
